.DS_Store
node_modules/
dist/
build/

# ALL env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.openzeppelin

nohup.out

coverage.json
coverage/
/test/.sim.test.js
/test/.sim2.test.js
/run-ganache.sh
/stop-ganache.sh
